body {
  background-color: #223532;
}
#name-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 500%;
  color: whitesmoke;
}

#wrapper {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer#links {
  color: #ffffff;
  position: fixed;
  padding: 0.5rem;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
a {
  color: #ffffff;
}
#footer-socials {
  margin: auto;
}
