body {
  background-color: #121212;
}

#wrapper {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

footer#links {
  color: #ffffff;
  position: fixed;
  padding: 0.5rem;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
a {
  color: #ffffff;
}
#footer-socials {
  margin: auto;
}
#sig {
  stroke: #ffffff;
  stroke-width: 5;
  stroke-opacity: 0.86;
}